body{
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 0px;
	
}

/*navbar*/

.nav {
    border-bottom: 1px solid #EAEAEB;
    height: 70px;
    line-height: 70px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 6;
    
}
.menu {
    margin: 0 30px 0 0;
    display: flex;
}
.menu a {
    clear: left;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    line-height: 70px;
}

.button1 {
    border-radius: 3px;
	cursor: pointer;
	font-size: 11px;
	background-color: #567b95;
	border: 1px solid #326891;
	white-space: nowrap;
	color: white;
	letter-spacing: 0.05em;
	line-height: 25px;
	margin: 20px 2px;
	float:right;
	display: block;

}


.down {
	background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    border-radius: 3px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.5rem;
    padding: 5px 0px;
    text-transform: uppercase;
    transition: background-color 0.6s ease 0s;
    width: 300px;

}





label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: left;
}

#toggle {
    display:none;
}


.logo {
	width: 195px;
	margin: 0 auto;
	margin-top: 10px;



}

.editor-pick-sections {
	padding-top: 0;
	width: 600px;
	display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.a-editor {
	display: inline-block;
	margin-left: 10px;
	padding-right: 60%;
	color: black;


}

.editor-picks {
	position: absolute;
	left: 80%;
	width: 200px;
	
}

.editor-picks2{
	margin-bottom: 10px;
	border-top: 1px solid black;
	

}

.editor-img {
	margin-top: 10px;
	width: 74px;
	height: 74px;
}


.h1 {
	font-family: georgia;
	padding-top: 90px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
    line-height: 43px;

	
}



.icon {
	margin: 20px;
	width: 559px;
    padding-top: 16px;
    margin-left: 29%;
    margin-right: inherit;
    border-top: 1px solid #ccc;
	
}


.icon2 {

	width: 559px;
    padding-top: 16px;
    padding-bottom: 10px;
    margin-left: 1%;
    margin-right: 30%;

}

.b-icon {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-bottom: 25px;
	padding-left: 9%;

}

.b-div {
	display: inline;
    max-width: 600px;
    padding: 0px 1rem 0px 0px;
}

.social-icons {
	margin-left: 2%;
}


#p3 {
	padding-left: 33%;
	padding-right: 10%;
	padding-bottom: 20px;
}


.fab, .fas, .far {
	margin: 0 10px;
    line-height: 70px;
 
   
}

.image1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	
}

.theory-container {
	padding-left: 20%;
	padding-top: 20px;
}




.all {
	display: grid;
	grid-template-columns: repeat(4, 2fr);
	padding-right: 50%;
	

}


.theory-paragraph {
	font-size: 12px;
	line-height: unset;
	color: black;
	text-decoration: none;
	outline-style: none;
	padding: 0;
	margin: 10px;



}

.h6-theory{
	 font-size: 0.9rem;
     line-height: 1.34rem;
     padding-right: 20%;
    

}



.image2, .video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	
}


.photo-paragraph{
	    font-size: 0.9rem;
        line-height: 1.0rem;
        text-align: center;
        padding-right: 30%;
        padding-left: 30%;
}

.photo-paragraph2 {
	    font-size: 0.9rem;
        line-height: 1.0rem;
        padding-right: 30%;
        padding-left: 12%;

}




.main-article{
	padding-left: 30%;
	padding-right: 30%;
	font-family: georgia;
	font-size: 1.25rem;
    line-height: 1.875rem;
	font-weight: 300;
	word-spacing: 3px;
	margin: 34px;

}


.grid {
	display: grid;
	grid-template-columns: 70% 30%;
	margin-left: 50px;
	padding-left: 30px;	

}

.paragraphs-grid {
	font-size: 16px;
	color: black;
	text-decoration: none;
	outline-style: none;
	padding: 0;
	margin: 0;



}

.img-grid1 {
	width: 27%;


}


.boder-grid{
	box-sizing: border-box;
	border: 1px solid #ccc;
	width: 300px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 4px;
    padding: 5px;
    float: left;
    padding-top: 10px;
    padding-left: 10px;



}

#see-latest {
	color: rgb(50, 104, 145);
	position: absolute;

	
}

.fa-plus-circle {
	position: absolute;
	padding-left: 240px;
	padding-top: 10px;


}



.img-grid2 {
	object-fit: cover;
	width: 80%;
	max-height: 75%;
	margin: 0;
	padding: 0;
	margin-top: 20px;

}


#photo-grid {
	padding-left: 10px;

	
}


.photo-grid1, .photo-grid2, .photo-grid3 {
	display: grid;
	grid-template-columns: 10%, 90%;
	grid-gap: 0.5px;
	padding-top: 2px;
	padding-bottom: 20px;
	border-top: 1px solid #ccc;


}

.news-grid1, .news-grid2, .news-grid3{
	display: grid;
	grid-template-columns: repeat(3, 2fr)
}


#grid1, #grid2 {
	line-height: unset;
	padding-bottom: 70px;

}


#dates {
	font-family: arial, sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.3px;
    color: rgb(153, 153, 153);
}

a {
	text-decoration: none;
}




.word-grid, .most-popular {
	font-family: georgia, "times new roman", times, serif;
	font-size: 15px;
	line-height: 1.375rem;
	padding-left: 0px;
	color: black; 
	margin-top: 20px;



}

#Mp-styles{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0px;
}

#MP-title {
	border-top: 1px solid #ccc;
	padding-left: 40px;
	padding-top: 10px;
	font-size:12px;
}

#PG-title1 {
	font-size:12px;

}

#PG-title {
	font-size: 20px;
}


.container {
	max-width: 1170px;
	margin: auto;
	border-top: 1px double #ccc;
	padding-bottom: 30px;
	padding-left: 0px;


}


.logo-footer{
	height: 41px;
    width: 198px;
    padding-top: 10px;
    padding-left: 0%;
  

}

.row {
	display: flex;
	flex-wrap: wrap;
}



ul{
	list-style: none;
	padding-left: 0%;
	

}

.li-svg {
	    width: 20px;
        height: 14px
}

.footer {
	box-sizing: border-box;
	background: white;
	padding:70px 0;

}
.last-box {
	padding-left: 6%;
	border-left: 1px solid #ccc;
	padding-left: 2%;
	white-space: nowrap;
}

.footer-box{
	width: 15%;
	padding-left: 0;
}


.footer-box h2{
	font-size: 14px;
	font-weight: bold;
	font-family: georgia;
	color: rgb(51, 51, 51);;
	text-transform: capitalize;
	font-weight: 800;

}

.footer-box ul li:not(:last-child){
	margin-bottom: 10px;
}


.footer-box ul li a {
	font-size: 15px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	display: block;
	font-family: sans-serif;
}

